<div class="row justify-content-center">
  <div class="col-md-8">
    <h1><%= title "#{@team.title} on #{ENV.fetch('SITE_TITLE', 'LandGrab')}" %></h1>
  </div>
</div>
<div class="row justify-content-center">
  <div class="col-md-8">
    <div class="row">
      <div class="col-xs-12 col-sm-4">
        <% if @team.website %>
          <%= link_to @team.website do %>
            <%= image_tag @team.logo_url_fallback, class: 'img-fluid rounded' %>
          <% end %>
        <% else %>
          <%= image_tag @team.logo_url_fallback, class: 'img-fluid rounded' %>
        <% end %>
      </div>
      <div class="col-xs-12 col-sm-8">
        <% if user_signed_in? %>
          <% if current_user&.team == @team %>
            <%= bootstrap_alert('You are a member of this team.', 'success') %>
          <% else %>
            <%= bootstrap_alert('You are not a member of this team.', 'warning') %>
          <% end %>
        <% else %>
          <%= bootstrap_alert('Login or register to join this team!', 'warning') %>
        <% end %>
      </div>
      <div class="col-xs-12">
        <p>
          <%= markdown(@team.description) %>
        </p>
      </div>

      <% if current_user&.team == @team %>
        <h2>Team Updates</h2>
        <%= render 'posts', team: @team %>
      <% end %>
    </div>
  </div>
</div>
