<h1><%= admin_title Block %></h1>

<%= render 'filters' %>

<p>
  <%= page_entries_info @blocks %>
  <% if @plot.present? %>
    from the <%= link_to @plot.title, admin_plot_path(@plot) %> plot
  <% end %>
  <% if filtered? %>
    matching selected filters.
  <% end %>
</p>

<%= render 'table' %>

<%= paginate @blocks, theme: 'bootstrap-5' %>

<%= render 'static_pages/w3w_map', blocks: @blocks %>
