<% title 'Blocks' %>

<h1>Blocks</h1>

<p>
  Blocks are individual 3m x 3m squares of land, defined by
  <%= link_to 'What3Words', 'https://what3words.com/' %>.
</p>

<p>
  <%= page_entries_info @blocks %>
  <% if @plot.present? %>
    from the <%= link_to @plot.title, admin_plot_path(@plot) %> plot
  <% end %>
</p>

<%= render 'table' %>

<%= paginate @blocks, theme: 'bootstrap-5' %>

<%= render 'static_pages/w3w_map', blocks: @blocks %>
