<%= form_tag(admin_comments_path, method: :get, class: 'row g-3 mb-3') do %>
  <div class="col-sm-4">
    <%= label_tag :post, 'Post', class: 'visually-hidden' %>
    <%= select_tag :post, options_from_collection_for_select(Post.all.order(title: :asc), :hashid, :title, params[:post]),
                          { include_blank: '[ All Posts ]', class: 'form-select' } %>
  </div>

  <div class="col-sm-2">
    <%= label_tag :author, 'Author', class: 'visually-hidden' %>
    <% all_comment_authors = User.joins(:comments_authored).distinct %>
    <%= select_tag :author, options_from_collection_for_select(all_comment_authors.order(:last_name, :first_name), :hashid, :full_name, params[:author]),
                                         { include_blank: '[ Author ]', class: 'form-select' } %>
  </div>

  <%= render_filter_submit %>
<% end %>
