<h1><%= title 'Explore LandGrab' %></h1>

<p>
  We've randomly selected a plot with blocks available for adopting -
  <%= link_to @plot.title, plot_path(@plot) %>!
</p>

<p>
  Click a block on the map below to see subscription options,
  or <%= link_to 'choose one at random', block_path(@available_blocks.sample) %>
</p>

<p>
  <% if @available_blocks.size == 1 %>
    There is only one block remaining in this plot -
    <%= link_to 'view it', block_path(@available_blocks.sample) %>
  <% elsif @available_blocks.size < @available_limit %>
    There are only <%= @available_blocks.size %> available blocks remaining in this plot.
  <% else %>
    Showing a selection of remaining blocks in this plot.
  <% end %>
</p>

<% if @unavailable_blocks.any? %>
  <p>Some unavailable (already adopted) blocks are shown in red on the map</p>
<% end %>

<%= render 'static_pages/w3w_map', blocks: @available_blocks.concat(@unavailable_blocks) %>
