<h1><%= title 'Explore' %></h1>

<% unless user_signed_in? %>
  <%= render 'layouts/progress_bar', step: 0, journey: :register_first %>
<% end %>

<p>
  We've randomly selected a plot with tiles available for adopting -
  <%= link_to @plot.title, plot_path(@plot) %>!
</p>

<% if @available_tiles.size == 1 %>
  <p>
    There is only one tile remaining in this plot -
    <%= link_to 'view it', tile_path(@available_tiles.sample) %>
  </p>
<% else %>
  <p>
    <% if @available_tiles.size < @available_limit %>
      There are only <%= @available_tiles.size %> available tiles remaining in this plot.
    <% else %>
      Showing a selection of remaining tiles in this plot.
    <% end %>
  </p>
  <p>
    Click a tile on the map below to see subscription options,
    or <%= link_to 'choose one at random', tile_path(@available_tiles.sample) %>
  </p>
<% end %>

<% if @unavailable_tiles.any? %>
  <p>Some unavailable (already adopted) tiles are shown in red on the map</p>
<% end %>

<%= render 'static_pages/w3w_map', tiles: @available_tiles.concat(@unavailable_tiles) %>
