<h1><%= ENV.fetch('SITE_TITLE', 'LandGrab') %></h1>

<p>
  <%= ENV.fetch('SITE_TITLE', 'LandGrab') %>
  allows you to 'adopt' a square of land in the real world.
</p>

<p>
  Through your sponsorship, we can protect and restore the land
  and you can follow along the rewilding journey through updates
  specific to your plot.
</p>

<p>
  <%= link_to 'Start exploring!', explore_path, class: 'btn btn-primary' %>
</p>

<%= render 'w3w_map', blocks: Plot.joins(:blocks).distinct.sample.blocks %>

<!-- GEOS Supported? <%= RGeo::Geos.supported? %> -->

<p class="mt-3">
  This is a weekend project by
  <%= link_to 'Ollie Bennett', 'https://www.olliebennett.co.uk/' %>.
</p>
