<h1><%= ENV.fetch('SITE_TITLE', 'LandGrab') %></h1>

<p>
  <%= ENV.fetch('SITE_TITLE', 'LandGrab') %>
  allows you to 'adopt' a square of land in the real world.
</p>

<p>
  Through your sponsorship, we can protect and restore the land
  and you can follow along the rewilding journey through updates
  specific to your plot.
</p>

<p>
  <%= link_to 'Start exploring!', explore_path, class: 'btn btn-primary' %>
</p>

<% sample_plot = Plot.joins(:tiles).distinct.sample %>
<% if sample_plot.present? %>
  <%= render 'w3w_map', tiles: sample_plot.tiles_for_map %>
<% else %>
  There aren't any plots in the system yet...
<% end %>

<!-- GEOS Supported? <%= RGeo::Geos.supported? %> -->
