<%= form_for(resource || current_user, as: :user, url: registration_path(current_user), html: { method: :put }) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource || current_user %>

  <%= render 'layouts/settings_nav', current_page: :password %>

  <h2><%= title 'Password' %></h2>

  <p>
    Use this page to update your
    <%= ENV.fetch('SITE_TITLE', 'LandGrab') %>
    password.
  </p>

  <div class="mb-3">
    <%= f.label :password, 'New password', class: 'form-label' %>
    <%= f.password_field :password, autocomplete: 'new-password', class: 'form-control', aria: { describedby: 'newPasswordHelp' } %>
    <div id="newPasswordHelp" class="form-text">
      (new password must be <%= @minimum_password_length %> characters minimum)
    </div>
  </div>

  <div class="mb-3">
    <%= f.label :password_confirmation, class: 'form-label' %>
    <%= f.password_field :password_confirmation, autocomplete: 'new-password', class: 'form-control', aria: { describedby: 'repeatPasswordHelp' } %>
    <div id="repeatPasswordHelp" class="form-text">
      (simply type the same new password again)
    </div>
  </div>

  <div class="mb-3">
    <%= f.label :current_password, class: 'form-label' %>
    <%= f.password_field :current_password, autocomplete: 'current-password', class: 'form-control', aria: { describedby: 'currentPasswordHelp' } %>
    <div id="currentPasswordHelp" class="form-text">
      (so we can be sure it's really you!)
    </div>
  </div>

  <%= f.submit 'Update Password', class: 'btn btn-primary' %>
<% end %>
