<%= form_for(resource || current_user, as: :user, url: registration_path(current_user), html: { method: :put }) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource || current_user %>

  <%= render 'layouts/settings_nav', current_page: :profile %>

  <h2><%= title 'Profile' %></h2>

  <p>
    Fill in your
    <%= ENV.fetch('SITE_TITLE', 'LandGrab') %>
    profile; who are you?
  </p>

  <%= render 'users/form_names', form: f %>

  <%= render 'users/form_email', form: f %>

  <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
    <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
  <% end %>

  <%= f.submit 'Update Profile', class: 'btn btn-primary' %>
<% end %>
