<% project = Project.all.sample %>

<h1><%= title "Register for #{ENV.fetch('SITE_TITLE', 'LandGrab')}" %></h1>

<% if project %>
  <%= markdown(project.subscriber_benefits) %>
<% end %>

<div class="row">
  <div class="col">
    <%= render 'form', resource: resource %>
  </div>
  <% if ENV.key?('SITE_HERO_IMAGE_URL') %>
    <div class="col">
      <%= image_tag ENV.fetch('SITE_HERO_IMAGE_URL'),
                    class: 'img-fluid rounded',
                    alt: "Hero image for #{ENV.fetch('SITE_TITLE', 'LandGrab')}" %>
    </div>
  <% end %>
</div>

<% if project %>
  <%= image_tag project.hero_image_url,
                class: 'img-fluid rounded',
                alt: project.title %>
<% end %>
