<h1><%= admin_title(Price) %></h1>

<p>
  Prices define the options for subscribing to tiles in a given project.
</p>

<%= link_to 'New Price', new_admin_price_path %>

<%= page_entries_info @prices %>

<%= render 'table', prices: @prices %>

<%= paginate @prices, theme: 'bootstrap-5' %>
