<p>
  <% if tile.subscription.present? %>
    <p>
      <% if tile.subscription.user == current_user %>
        Your subscription to this tile began on
        <%= tile.subscription.created_at.strftime('%e %b %Y') %>
      <% else %>
        This tile is already subscribed by someone else!
      <% end %>
    </p>
    <% if tile.subscription.user == current_user %>
      <%= link_to 'Cancel Subscription',
                  "javascript:alert('Please contact us if you need to cancel your subscription')",
                  class: 'btn btn-outline-danger' %>
    <% end %>
  <% elsif user_signed_in? %>
    <% redeemable_subscription = current_user.subscriptions.where.missing(:tile).first %>
    <% if redeemable_subscription.present? %>
      <%= render 'subscription_redeem', tile: tile, subscription: redeemable_subscription %>
    <% else %>
      <%= render 'subscription_checkout', tile: tile %>
    <% end %>
  <% else %>
    <p>
      You need to
      <%= link_to 'log in', new_user_session_path, class: 'btn btn-primary' %>
      or
      <%= link_to 'register', new_user_registration_path, class: 'btn btn-primary' %>
      to subscribe to this tile.
    </p>
  <% end %>
</p>
