<p>
  <% if tile.latest_subscription.present? %>
    <p>
      <% if tile.latest_subscription.user == current_user %>
        Your subscription to this tile began on
        <%= tile.latest_subscription.created_at.strftime('%e %b %Y') %>
        and is currently
        <%= render_subscription_status(tile.latest_subscription) %>
      <% else %>
        This tile is already subscribed by someone else!
      <% end %>
    </p>
    <% if tile.latest_subscription.user == current_user %>
      <% if tile.latest_subscription.stripe_status_canceled? %>
        <%= bootstrap_alert 'Your subscription is inactive. To resolve this, please re-subscribe below' %>
        <%= render 'tiles/subscription_checkout', tile: tile %>
      <% else %>
        <%= link_to 'Change Subscription',
                    "javascript:alert('Please contact us if you need to change your subscription')",
                    class: 'btn btn-outline-info' %>
      <% end %>
    <% end %>
  <% elsif user_signed_in? %>
    <% redeemable_subscription = current_user.subscriptions.where.missing(:tile).first %>
    <% if redeemable_subscription.present? %>
      <%= render 'tiles/subscription_redeem', tile: tile, subscription: redeemable_subscription %>
    <% else %>
      <%= render 'tiles/subscription_checkout', tile: tile %>
    <% end %>
  <% else %>
    <p>
      You need to
      <%= link_to 'log in', new_user_session_path, class: 'btn btn-primary' %>
      or
      <%= link_to 'register', new_user_registration_path, class: 'btn btn-primary' %>
      to subscribe to this tile.
    </p>
  <% end %>
</p>
