<%= form_with url: checkout_checkout_path do |form| %>
  <%= form.hidden_field :tile, value: tile.hashid %>
  <% tile.plot.project.prices.each do |price| %>
    <div class="form-check">
      <%= radio_button_tag 'price', price.hashid, false, class: 'form-check-input' %>
      <%= label_tag "price_#{price.hashid}", "Subscribe for #{price.amount_display}", class: 'form-check-label' %>
    </div>
  <% end %>
  <%= form.submit 'Pay & Subscribe', class: 'btn btn-primary' %>
<% end %>
