<table class="table">
  <thead>
    <tr>
      <th>What3Words</th>
      <% if @plot.nil? %>
        <th>Plot</th>
      <% end %>
      <th>Available?</th>
      <th colspan="2"></th>
    </tr>
  </thead>

  <tbody style="font-variant-numeric: tabular-nums;">
    <% @tiles.each do |tile| %>
      <tr>
        <td><%= content_tag(:code, tile.w3w) %></td>
        <% if @plot.nil? %>
          <td>
            <% if tile.plot.present? %>
              <%= link_to tile.plot.title, plot_path(tile.plot) %>
            <% else %>
              -
            <% end %>
          </td>
        <% end %>
        <td><%= tile.subscription.nil? ? 'Available' : 'Unavailable' %></td>
        <td><%= link_to 'W3W', tile.w3w_url %></td>
        <td><%= link_to 'Details', tile %></td>
      </tr>
    <% end %>
  </tbody>
</table>
