<% ready_to_claim = user_signed_in? && current_user.subscriptions.where.missing(:tile).any? %>
<% active_sub = user_signed_in? && @tile.plot.present? && current_user.subscription_for_plot(@tile.plot) %>

<h1><%= title @tile.w3w %></h1>

<div class="row">
  <div class="col-md-6">
    <% if @tile.available? && ready_to_claim %>
      <%= bootstrap_alert "Last step! Use the 'claim this tile' button below.", :info %>
    <% end %>
    <%= render 'details', tile: @tile %>

    <% if active_sub.present? && active_sub.tile != @tile %>
      <%= bootstrap_alert safe_join([
        "You can view this tile already, as you're subscribed to ",
        link_to(active_sub.tile.w3w, tile_path(active_sub.tile), class: 'alert-link'),
        '.'
      ], ''), :info %>
    <% else %>
      <%= render 'subscription_info', tile: @tile %>
    <% end %>

    <% unless user_signed_in? %>
      <%= markdown(@tile&.plot&.project&.subscriber_benefits) %>
    <% end %>

    <%= render 'posts', tile: @tile %>
  </div>
  <div class="col-md-6">
    <%= render 'static_pages/w3w_map',
        tiles: @tile.plot&.tiles_for_map(include_tile: @tile) || [@tile],
        plot: @tile.plot,
        popup_tiles: [@tile] %>
  </div>
</div>
