<%= form_with(model: [:admin, post_association]) do |form| %>
  <%= render 'layouts/form_errors', errors: post_association.errors %>

  <%= form.hidden_field :post_id, { value: form.object.post.hashid } %>

  <div class="row mb-3 g-3 align-items-center">
    <div class="col-sm-2">
      <%= form.label :postable_type, 'Association Type', class: 'col-form-label' %>
    </div>
    <div class="col-sm-5">
      <%= form.select :postable_type,
                      options_for_select(%w[Project Plot Tile], form.object.postable_type),
                      { include_blank: '[ Select Type ]' },
                      {
                        required: true,
                        class: 'form-control'
                      } %>
    </div>
  </div>

  <div class="row mb-3 g-3 align-items-center">
    <div class="col-sm-2">
      <%= form.label :postable_id, 'Association ID', class: 'col-form-label' %>
    </div>
    <div class="col-sm-5">
      <%= form.text_field :postable_id,
                          required: true,
                          value: form.object.postable&.hashid,
                          class: 'form-control' %>
    </div>
  </div>

  <%= form.submit class: 'btn btn-primary' %>
  ... or
  <%= link_to 'associate tiles in bulk',
              bulk_association_edit_admin_post_path(@post),
              class: 'btn btn-secondary' %>
<% end %>
