<%= form_with(model: [:admin, post_association], class: 'row row-cols-lg-auto mb-3 g-3 align-items-center') do |form| %>
  <%= form.hidden_field :post_id, { value: form.object.post.hashid } %>
  <%= form.hidden_field :postable_type, { value: Project.to_s } %>

  <div class="col-12 g-3 align-items-center">
    <%= label_tag :postable_id, 'Project', class: 'visually-hidden' %>
    <%= form.select :postable_id,
                    options_from_collection_for_select(Project.order(:title), :hashid, :title, params[:postable_id]),
                    { include_blank: '[ Select Project ]' },
                    { class: 'form-select', required: true } %>
  </div>

  <div class="col-12">
    <%= form.submit 'Associate Project', class: 'btn btn-primary' %>
  </div>
<% end %>
