<% featured ||= false %>

<div class="card mb-3">
  <% if plot.hero_image_url.present? %>
    <%= image_tag plot.hero_image_url, height: '150', class: 'card-img-top', alt: "Hero image for #{plot.title} plot" %>
  <% end %>
  <% if featured %>
    <div class="card-header">
      <span class="badge text-bg-warning">Featured Plot</span>
    </div>
  <% end %>
  <div class="card-body">
    <h5 class="card-title"><%= plot.title %></h5>

    <p class="card-text">
      <%= plot.non_subscribed_tiles.size %>
      of
      <%= plot.tiles.size %>
      tiles available
    </p>
    <%= link_to 'View Plot',
                plot_path(plot),
                class: "btn btn-#{featured ? 'warning' : 'primary'} stretched-link" %>
  </div>
</div>
