
<% if @plot.description.present? %>
  <%= markdown(@plot.description) %>
<% end %>

<p>
This plot
<% if @plot.project.present? %>
  is part of the
  <%= link_to @plot.project.title, project_path(@plot.project) %>
  project and
<% end %>
covers <%= @plot.area_formatted_acres %>
(~ <%= @plot.area_formatted_unsquared %><sup>2</sup>).
</p>

<%= image_tag @plot.hero_image_url_fallback,
              class: 'rounded mb-3 img-fluid',
              alt: "Hero image for #{@plot.title} plot" %>

<p>
There are
<%= @plot.non_subscribed_tiles.size %>
tiles still available to subscribe to, out of
<%= @plot.tiles.size %>
total in the plot
</p>

<!--
<p>
The plot was created on
<%= @plot.created_at.strftime('%e %b %Y') %>
and centres on coordinates
<%= @plot.centroid_coords_display %>.
</p>
-->
