
<% if @plot.description %>
  <%= markdown(@plot.description) %>
<% end %>

<p>
This plot
<% if @plot.project.present? %>
  is part of the
  <%= link_to @plot.project.title, project_path(@plot.project) %>
  project and
<% end %>
covers <%= @plot.area_formatted_acres %>
(~ <%= @plot.area_formatted_unsquared %><sup>2</sup>).
</p>

<p>
There are
<%= @plot.non_subscribed_tiles.size %>
tiles still available to subscribe to, out of
<%= @plot.tiles.size %>
total in the plot
<% if @plot.tiles.size.positive? %>
  - <%= link_to 'view all tiles', tiles_path(plot: @plot) %>
<% end %>
</p>

<p>
The plot was created on
<%= @plot.created_at.strftime('%e %b %Y') %>
and centres on coordinates
<%= @plot.centroid_coords_display %>.
</p>
