<% title @plot.title %>

<h1>
  Plot Details
</h1>

<table class="table">
  <tbody>
    <tr>
      <th>Title</th>
      <td><%= @plot.title %></td>
    </tr>
    <tr>
      <th>Polygon</th>
      <td><%= @plot.polygon.coordinates[0] %></td>
    </tr>
    <tr>
      <th>Area</th>
      <td>~ <%= @plot.area_formatted_unsquared %><sup>2</sup></td>
    </tr>
    <tr>
      <th>Blocks</th>
      <td>
        <%= @plot.blocks.size %>
        <% if @plot.blocks.size.positive? %>
          - <%= link_to 'view on map', blocks_path(plot: @plot) %>
        <% end %>
      </td>
    </tr>
    <tr>
      <th>Created</th>
      <td>
        <%= @plot.created_at.strftime('%e %b %Y %H:%M:%S') %>
      </td>
    </tr>
  </tbody>
</table>

<p>
  <%= link_to 'Edit plot', edit_plot_path(@plot) %>
</p>

<%# TODO: Fix issue then revert to using 'centroid' to center the map; https://github.com/olliebennett/landgrab/issues/1 %>
<%= render 'map',
           center: [51.4778, -0.0014],
           plot: @plot %>
