<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @plot.title %>
</p>

<p>
  <strong>Polygon:</strong>
  <%= @plot.polygon.coordinates[0] %>
</p>

<p>
  <strong>Blocks:</strong>
  <%= @plot.blocks.size %>
  - <%= link_to 'view on map', blocks_path(plot: @plot.id) %>
</p>

<%= link_to 'Edit', edit_plot_path(@plot) %> |
<%= link_to 'Back', plots_path %>

<%# TODO: Fix issue then revert to using 'centroid' to center the map; https://github.com/olliebennett/landgrab/issues/1 %>
<%= render 'map',
           center: [51.4778, -0.0014],
           plot: @plot %>
