<% title @plot.title %>

<h1>
  Plot Details
</h1>

<table class="table">
  <tbody>
    <tr>
      <th>Title</th>
      <td><%= @plot.title %></td>
    </tr>
    <tr>
      <th>Coordinates (midpoint)</th>
      <td><%= @plot.centroid_coords_display %></td>
    </tr>
    <tr>
      <th>Area</th>
      <td>~ <%= @plot.area_formatted_unsquared %><sup>2</sup></td>
    </tr>
    <tr>
      <th>Blocks</th>
      <td>
        <%= @plot.blocks.left_outer_joins(:subscription).where(subscriptions: { id: nil }).size %>
        available out of
        <%= @plot.blocks.size %>
        total
        <% if @plot.blocks.size.positive? %>
          - <%= link_to 'view on map', blocks_path(plot: @plot) %>
        <% end %>
      </td>
    </tr>
    <tr>
      <th>Created</th>
      <td>
        <%= @plot.created_at.strftime('%e %b %Y %H:%M:%S') %>
      </td>
    </tr>
  </tbody>
</table>

<%= render 'map', plot: @plot %>
