<% title @plot.title %>

<h1>
  Plot Details
</h1>

<p>
  <strong>Title:</strong>
  <%= @plot.title %>
</p>

<p>
  <strong>Polygon:</strong>
  <%= @plot.polygon.coordinates[0] %>
</p>

<p>
  <strong>Area:</strong>
  <%= @plot.area.round %> m<sup>2</sup>
</p>

<p>
  <strong>Blocks:</strong>
  <%= @plot.blocks.size %>
  - <%= link_to 'view blocks on map', blocks_path(plot: @plot) %>
</p>

<p>
  <%= link_to 'Edit plot', edit_plot_path(@plot) %>
</p>

<%# TODO: Fix issue then revert to using 'centroid' to center the map; https://github.com/olliebennett/landgrab/issues/1 %>
<%= render 'map',
           center: [51.4778, -0.0014],
           plot: @plot %>
