<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @plot.title %>
</p>

<p>
  <strong>Polygon:</strong>
  <%= @plot.polygon.coordinates[0] %>
</p>

<p>
  <strong>Blocks:</strong>
  <%= @plot.blocks.size %>
  - <%= link_to 'view on map', blocks_path(plot: @plot.id) %>
</p>

<%= link_to 'Edit', edit_plot_path(@plot) %> |
<%= link_to 'Back', plots_path %>

<%= render 'map',
           center: [@plot.centroid_coords.y, @plot.centroid_coords.x],
           plot: @plot %>
