<h1><%= admin_title 'Dashboard' %></h1>

<p>This area is for admins only and provides visibility and control over all data</p>
<p>The following users currently have admin access:</p>
<ul>
<% User.where(admin: true).find_each do |user| %>
  <li><%= link_to user.full_name, admin_user_path(user) %> - <%= user.email %></li>
<% end %>
</ul>

<% if ENV.fetch('HEROKU_SLUG_COMMIT', nil).present? %>
<p>
  Current landgrab version:
  <%= link_to ENV.fetch('HEROKU_SLUG_COMMIT').first(10),
              "#{LandgrabService::SOURCE_CODE_REPO_URL}/commit/#{ENV.fetch('HEROKU_SLUG_COMMIT')}" %>
  <% if ENV.fetch('HEROKU_RELEASE_CREATED_AT', nil).present? %>
    (deployed <%= time_ago_in_words(DateTime.strptime(ENV.fetch('HEROKU_RELEASE_CREATED_AT'))) %> ago)
  <% end %>
</p>
<% end %>
