<%= form_with(model: [:admin, project], local: true) do |form| %>
  <%= render 'layouts/form_errors', errors: project.errors %>

  <div class="row mb-3 g-3 align-items-center">
    <div class="col-sm-2">
      <%= form.label :title, class: 'col-form-label' %>
    </div>
    <div class="col-sm-5">
      <%= form.text_field :title,
                          required: true,
                          placeholder: 'My First Project',
                          class: 'form-control',
                          aria: { describedby: 'titleHelp' } %>
    </div>
    <div class="col-sm-5">
      <span id="titleHelp" class="form-text">
        Name for this project
      </span>
    </div>
  </div>

  <div class="row mb-3 g-3 align-items-center">
    <div class="col-sm-2">
      <%= form.label :description, class: 'col-form-label' %>
    </div>
    <div class="col-sm-5">
      <%= form.text_area :description,
                         required: true,
                         placeholder: 'We are working to rewild ...',
                         class: 'form-control',
                         rows: 6,
                         aria: { describedby: 'descriptionHelp' } %>
    </div>
    <div class="col-sm-5">
      <span id="descriptionHelp" class="form-text">
        Detail about the project, shown on project page
      </span>
    </div>
  </div>

  <div class="row mb-3 g-3 align-items-center">
    <div class="col-sm-2">
      <%= form.label :website, 'Website URL', class: 'col-form-label' %>
    </div>
    <div class="col-sm-5">
      <%= form.text_field :website,
                          class: 'form-control',
                          placeholder: 'https://www.example.com',
                          aria: { describedby: 'websiteHelp' } %>
    </div>
    <div class="col-sm-5">
      <span id="websiteHelp" class="form-text">
        URL of the project website which the project logo will link to
      </span>
    </div>
  </div>

  <div class="row mb-3 g-3 align-items-center">
    <div class="col-sm-2">
      <%= form.label :hero_image_url, 'Hero Image URL', class: 'col-form-label' %>
    </div>
    <div class="col-sm-5">
      <%= form.text_field :hero_image_url,
                          class: 'form-control',
                          placeholder: 'https://www.example.com/wide-image.jpg',
                          aria: { describedby: 'heroImageHelp' } %>
    </div>
    <div class="col-sm-5">
      <span id="heroImageHelp" class="form-text">
        URL of a wide image to be used in the background of the project page
      </span>
    </div>
  </div>

  <div class="row mb-3 g-3 align-items-center">
    <div class="col-sm-2">
      <%= form.label :logo_url, 'Logo URL', class: 'col-form-label' %>
    </div>
    <div class="col-sm-5">
      <%= form.text_field :logo_url,
                          class: 'form-control',
                          placeholder: 'https://www.example.com/logo.png',
                          aria: { describedby: 'logoImageHelp' } %>
    </div>
    <div class="col-sm-5">
      <span id="logoImageHelp" class="form-text">
        URL of a smaller image / icon for the project
      </span>
    </div>
  </div>

  <div class="row mb-3 g-3 align-items-center">
    <div class="col-sm-2">
      <%= form.label :welcome_text, class: 'col-form-label' %>
    </div>
    <div class="col-sm-5">
      <%= form.text_area :welcome_text,
                        required: true,
                        class: 'form-control',
                        placeholder: "Welcome to the members area for the project! Now you've subscribed, you can ...",
                        rows: 6,
                        aria: { describedby: 'welcomeTextHelp' } %>
    </div>
    <div class="col-sm-5">
      <span id="welcomeTextHelp" class="form-text">
        Message shown after a user subscribes
      </span>
    </div>
  </div>

  <%= form.submit class: 'btn btn-primary' %>
<% end %>
