<h1><%= admin_title(Project) %></h1>

<p>
  Projects summarise the details and goals behind groups of one or more
  <%= link_to 'plots', admin_plots_path %>
  covering sections of a wider area.
</p>

<%= link_to 'New Project', new_admin_project_path %>

<%= page_entries_info @projects %>

<%= render 'table' %>

<%= paginate @projects, theme: 'bootstrap-5' %>
