<h1><%= admin_title @project %></h1>

<%= render 'details', project: @project %>

<p>
  <%= link_to 'Edit project', edit_admin_project_path(@project) %>
</p>

<h2>Plots in this Project</h2>
<%= render 'admin/plots/table', project: @project, plots: @project.plots %>

<h2>Posts about this Project</h2>
<%= render 'admin/posts/table', posts: @project.posts, cols: %w[title preview author published] %>
