<p>
  <strong>What3Words:</strong>
  <code>/// <%= block.w3w %></code>
  - <%= link_to 'View', block.w3w_url %>
</p>

<p>
  <strong>Coordinates (longitude,latitude at block centre):</strong>
  <%= block.midpoint_rounded.join(', ') %>
</p>

<p>
  <strong>Plot:</strong>
  <% if block.plot.present? %>
    <%= link_to block.plot.title, plot_path(block.plot) %>
    <% if block.plot.project.present? %>
      (part of the <%= link_to block.plot.project.title, project_path(block.plot.project) %> project)
    <% end %>
    </tr>
  <% else %>
    -
  <% end %>
</p>
