<p>
  <% if block.subscription.present? %>
    <p>
      <% if block.subscription.user == current_user %>
        You're already subscribed to this block
      <% else %>
        This block is already subscribed by someone else
      <% end %>
      (since <%= block.subscription.created_at.strftime('%e %b %Y %H:%M:%S') %>).
    </p>
    <% if block.subscription.user == current_user %>
      <%= link_to 'Cancel Subscription', "javascript:alert('not implemented; this is all fake money for now')", class: 'btn btn-outline-danger' %>
    <% end %>
  <% elsif user_signed_in? %>
    <%= form_with url: checkout_checkout_path do |form| %>
      <%= form.hidden_field :block, value: block.hashid %>
      <div class="form-check">
        <input class="form-check-input" type="radio" name="freq" id="freq_monthly">
        <label class="form-check-label" for="freq_monthly">
          Subscribe for £5 per month
        </label>
      </div>
      <div class="form-check">
        <input class="form-check-input" type="radio" name="freq" id="freq_yearly">
        <label class="form-check-label" for="freq_yearly">
          Subscribe for £50 per year (save £10)
        </label>
      </div>
      <%= form.submit 'Pay & Subscribe', class: 'btn btn-primary' %>
      <!--
      <br>
      Use card <code>4242 4242 4242 4242</code>,
      any (future) expiry date, any CVV
      -->
    <% end %>
  <% else %>
    <p>
      You need to
      <%= link_to 'log in', new_user_session_path, class: 'btn btn-primary' %>
      or
      <%= link_to 'register', new_user_registration_path, class: 'btn btn-primary' %>
      to subscribe to this block.
    </p>
  <% end %>
</p>
