<% title 'Blocks' %>

<h1>Blocks</h1>

<p>
  Blocks are individual 3m x 3m squares of land, defined by
  <%= link_to 'What3Words', 'https://what3words.com/' %>.
</p>

<%= link_to 'New Block', new_block_path %>

<% if @plot.present? %>
  <p>
    Showing blocks for plot:
    <%= link_to @plot.title, plot_path(@plot) %>
  </p>
<% end %>

<%= render 'table' %>

<%= render 'static_pages/w3w_map',
     center: @center,
     blocks: @blocks %>
