<p id="notice"><%= notice %></p>

<p>
  <strong>South West:</strong>
  <%= @block.southwest_rounded.join(', ') %>
</p>

<p>
  <strong>North East:</strong>
  <%= @block.northeast_rounded.join(', ') %>
</p>

<p>
  <strong>Midpoint:</strong>
  <%= @block.midpoint_rounded.join(', ') %>
</p>

<p>
  <strong>What3Words:</strong>
  <code>/// <%= @block.w3w %></code>
  - <%= link_to 'View', @block.w3w_url %>
</p>

<p>
  <strong>Plot:</strong>
  <% if @block.plot.present? %>
    <%= link_to @block.plot.title, plot_path(@block.plot_id) %>
  <% else %>
    -
  <% end %>
</p>
