<h1><%= title "Block: #{@block.w3w}" %></h1>

<div class="row">
  <div class="col-md-6">
    <%= render 'details', block: @block %>
    <%= render 'subscription_info', block: @block %>
    <%= render 'posts', block: @block %>
  </div>
  <div class="col-md-6">
    <%= render 'static_pages/w3w_map',
        blocks: @block.plot&.blocks_for_map(include_block: @block) || [@block],
        popup_blocks: [@block] %>
  </div>
</div>
