<% title "Block: #{@block.w3w}" %>

<h1>
  Block Details
</h1>

<p>
<strong>What3Words:</strong>
<code>/// <%= @block.w3w %></code>
- <%= link_to 'View', @block.w3w_url %>
</p>

<p>
  <strong>Coordinates (longitude,latitude at block centre):</strong>
  <%= @block.midpoint_rounded.join(', ') %>
</p>

<p>
  <strong>Plot:</strong>
  <% if @block.plot.present? %>
    <%= link_to @block.plot.title, plot_path(@block.plot) %>
  <% else %>
    -
  <% end %>
</p>

<p>
  <% if @block.subscription.present? %>
    <% if @block.subscription.user == current_user %>
      You've already subscribed to this block
    <% else %>
      This block is already subscribed by User <%= @block.subscription.user.hashid %>
    <% end %>
    (since <%= @block.subscription.created_at.strftime('%e %b %Y %H:%M:%S') %>).
  <% else %>
    <%= form_with(model: Subscription.new(user: current_user, block: @block)) do |form| %>
      <%= form.hidden_field :block_id %>
      <%= form.submit 'Subscribe (test; no payment)!', class: 'btn btn-secondary' %>
    <% end %>
    or
    <p>
      For testing: use card <code>4242 4242 4242 4242</code>
      and any (future) expiry date and any 3-digit CVV
    </p>
    <%= form_with url: checkout_checkout_path do |form| %>
      <%= form.hidden_field :block, value: @block.hashid %>
      <%= form.submit 'Pay & Subscribe', class: 'btn btn-primary' %>
    <% end %>
  <% end %>
</p>

<%= render 'static_pages/w3w_map',
     center: [@block.midpoint.y, @block.midpoint.x],
     blocks: [@block] %>
