<%= form_tag(admin_tiles_path, method: :get, class: 'row g-3 mb-3') do %>
  <%= render_filter_text(:w3w, 'W3W Address', col: 3) %>

  <div class="col-sm-4">
    <%= label_tag :plot, 'Plot', class: 'visually-hidden' %>
    <%= select_tag :plot, option_groups_from_collection_for_select(Project.includes(:plots).order(:title), :plots, :title, :hashid, :title, params[:plot]),
                          { include_blank: '[ All Plots ]', class: 'form-select' } %>
  </div>

  <div class="col-sm-3">
    <%= label_tag :subscribed, 'Subscribed?', class: 'visually-hidden' %>
    <%= select_tag :subscribed,
                   options_for_select({ 'Already Subscribed' => 'true', 'Not Subscribed' => 'false' }, params[:subscribed]),
                   { include_blank: '[ Subscribed? ]', class: 'form-select' } %>
  </div>

  <%= render_filter_submit %>
<% end %>
