<%= form_with(model: tile, local: true) do |form| %>
  <% if tile.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(tile.errors.count, "error") %> prohibited this tile from being saved:</h2>

      <ul>
        <% tile.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="mb-3">
    <%= form.label :w3w, class: 'form-label' %>
    <%= form.text_field :w3w, class: 'form-control', aria: { describedby: 'w3wHelp' } %>
    <div id="w3wHelp" class="form-text">
      Enter 3 words from
      <%= link_to 'What3Words', 'https://what3words.com/' %>
      and we'll import the coordinates.
    </div>
  </div>

  <%= form.submit class: 'btn btn-primary' %>
<% end %>
