<h1><%= admin_title Tile %></h1>

<p>
  Tiles are 3x3m parcels of land which users subscribe to.
</p>

<%= render 'filters' %>

<p>
  <%= page_entries_info @tiles %>
  <% if @plot.present? %>
    from the <%= link_to @plot.title, admin_plot_path(@plot) %> plot
  <% end %>
  <% if filtered?(:plot) %>
    matching selected filters.
  <% end %>
</p>

<%= render 'table' %>

<%= paginate @tiles, theme: 'bootstrap-5' %>

<%= render 'static_pages/w3w_map', tiles: @tiles %>
