<% if project.posts.any? %>
  <p>
    <%= project.title %> has
    <%= pluralize(project.posts.size, 'related updates') %>.
  </p>
  <div class="row">
    <% project.posts.each do |post| %>
      <div class="col-xs-12">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title"><%= post.title %></h5>
            <p class="card-text">
              <%= markdown(truncate(post.body, length: 150)) %>
            </p>
            <%= link_to 'Read Full Post', post_path(post), class: 'btn btn-primary' %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
<% else %>
  <p>There aren't any plots associated with this project yet.
<% end %>
