<h1>
  Project: <%= title @project.title %>
</h1>

<%= image_tag @project.hero_image_url, height: '250px', width: '100%', class: 'mb-2 rounded' %>

<div class="row">
  <div class="col-xs-12 col-sm-4">
    <%= image_tag @project.logo_url, class: 'img-fluid' %>
  </div>
  <div class="col-xs-12 col-sm-8">
    <p>
      <%= @project.description %>
    </p>
  </div>
</div>

<div class="row">
  <div class="col-md-8">
    <h2>Support the project</h2>
    <%= render 'plots', project: @project %>
  </div>
  <div class="col-md-4">
    <h2>Updates from this Project</h2>
    <%= render 'posts', project: @project %>
  </div>
</div>
