<h1><%= title "Project: #{@project.title}" %></h1>

<div class="row">
  <div class="col-md-8">
    <%= image_tag @project.hero_image_url, height: '250px', width: '100%', class: 'mb-2 rounded' %>

    <div class="row">
      <div class="col-xs-12 col-sm-4">
        <% if @project.website %>
          <%= link_to @project.website do %>
            <%= image_tag @project.logo_url, class: 'img-fluid' %>
          <% end %>
        <% else %>
          <%= image_tag @project.logo_url, class: 'img-fluid' %>
        <% end %>
      </div>
      <div class="col-xs-12 col-sm-8">
        <p>
          <%= markdown(@project.description) %>
        </p>
      </div>
    </div>
    <h2>Support the project</h2>
    <% if project.plots.any? %>
      <p>
        <%= project.title %> consists of
        <%= pluralize(project.plots.size, 'plot') %>
        broken into 3x3m squares ("tiles") of land.
        In order to support the restoration of the land,
        each tile is individually available to sponsor for a small fee.
      </p>
    <% end %>
    <%= render 'plots', project: @project %>
  </div>
  <div class="col-md-4">
    <% if @project.plots.any? %>
      <div class="row">
        <% @project.plots.order(id: :desc).limit(2).each do |plot| %>
          <div class="col-xs-12 col-sm-6 mb-4">
            <%= render 'plots/card', plot: plot, featured: true %>
          </div>
        <% end %>
      </div>
    <% end %>
    <h2>Project Updates</h2>
    <%= render 'posts', project: @project %>
  </div>
</div>
