<% ready_to_claim = user_signed_in? && current_user.subscriptions.where.missing(:tile).any? %>
<% random_tile = @project.plots.with_available_tiles.sample.tiles.available.sample %>

<h1><%= title "Welcome to #{@project.title}" %></h1>

<div class="row">
  <div class="col-xs-12">
    <%= image_tag @project.hero_image_url, height: '250px', width: '100%', class: 'mb-2 rounded' %>
  </div>
  <div class="col-xs-12">
    <% if random_tile.present? && ready_to_claim %>
      <%= bootstrap_alert safe_join([
        "Great! You've subscribed but need to choose a tile. First, pick a plot from below or ",
        link_to('pick a random tile', tile_path(random_tile), class: 'alert-link'),
        'directly.'
      ], ''), :success %>
    <% end %>
    <div class="row">
      <div class="col-xs-12 col-sm-4">
        <% if @project.website %>
          <%= link_to @project.website do %>
            <%= image_tag @project.logo_url, class: 'img-fluid' %>
          <% end %>
        <% else %>
          <%= image_tag @project.logo_url, class: 'img-fluid' %>
        <% end %>
      </div>
      <div class="col-xs-12 col-sm-8">
        <p>
          <%= markdown(@project.welcome_text) %>
        </p>
        <% if random_tile.present? %>
          <p>
            <%= link_to 'Pick a random tile for me', tile_path(random_tile), class: 'btn btn-primary' %>
          </p>
        <% end %>
      </div>
    </div>
    <%= render 'plots', project: @project %>
  </div>
</div>
