<% show_unassociate ||= false %>

<% if post_associations.none?(&:persisted?) %>
  <p>There aren't any associations yet.</p>
<% else %>
  <p>This is associated with the following:</p>
  <ul>
    <% post_associations.includes(:postable).select(&:persisted?).each do |pa| %>
      <li class="my-1">
        <% case pa.postable_type %>
        <% when 'Project' %>
          <%= link_to "Project: #{pa.postable.title}", admin_project_path(pa.postable) %>
        <% when 'Plot' %>
          <%= link_to "Plot: #{pa.postable.title}", admin_plot_path(pa.postable) %>
        <% when 'Tile' %>
          <%= link_to "Tile: #{pa.postable.w3w}", admin_tile_path(pa.postable) %>
        <% when 'Team' %>
          <%= link_to "Team: #{pa.postable.title}", admin_team_path(pa.postable) %>
        <% else %>
          <% raise "Unhandled post association type: #{pa.postable_type}" %>
        <% end %>
        <% if show_unassociate %>
          -
          <%= button_to 'Unassociate',
                        admin_post_association_path(pa),
                        method: :delete,
                        form_class: 'd-inline',
                        class: 'btn btn-danger btn-sm' %>
        <% end %>
      </li>
    <% end %>
  </ul>
<% end %>
