<table class="table">
  <tbody>
    <tr>
      <th>Share Link</th>
      <td>
        <%= render 'layouts/copy_to_clipboard', copytext: post_url(@post), copycta: 'Copy Post URL' %>
      </td>
    </tr>
    <tr>
      <th>Title</th>
      <td><%= post.title %></td>
    </tr>

    <tr>
      <th>Preview</th>
      <td><%= markdown(post.preview) %></td>
    </tr>

    <tr>
      <th>Body</th>
      <td><%= markdown(linkify_tiles(post.body)) %></td>
    </tr>

    <tr>
      <th>Author</th>
      <td><%= link_to post.author.full_name, admin_user_path(post.author) %></td>
    </tr>

    <tr>
      <th>Created</th>
      <td>
        <%= post.created_at.strftime('%e %b %Y %H:%M:%S') %>
      </td>
    </tr>

    <tr>
      <th>Publish State</th>
      <td>
        <%= render_post_published_state(post) %>
      </td>
    </tr>

    <tr>
      <th>Comments</th>
      <td>
        <%= post.comments.size %>
        -
        <%= link_to 'see all comments', admin_comments_path(post: post.hashid) %>
      </td>
    </tr>

    <tr>
      <th>Views</th>
      <td>
        <%= post.viewed_by_users.size %>
        -
        <%= link_to 'see all users who viewed', admin_post_views_path(post: post.hashid) %>
      </td>
    </tr>
  </tbody>
</table>
