<%= form_with(model: [:admin, post], local: true) do |form| %>
  <%= render 'layouts/form_errors', errors: post.errors %>

  <div class="row mb-3 g-3 align-items-center">
    <div class="col-sm-2">
      <%= form.label :title, class: 'col-form-label' %>
    </div>
    <div class="col-sm-5">
      <%= form.text_field :title, required: true, class: 'form-control', aria: { describedby: 'titleHelp' } %>
    </div>
    <div class="col-sm-5">
      <span id="titleHelp" class="form-text">
        Provide a short title for the post.
      </span>
    </div>
  </div>

  <div class="row mb-3 g-3 align-items-center">
    <div class="col-sm-2">
      <%= form.label :preview, class: 'col-form-label' %>
    </div>
    <div class="col-sm-5">
      <%= form.text_area :preview, class: 'form-control', rows: 2, aria: { describedby: 'previewHelp' } %>
    </div>
    <div class="col-sm-5">
      <span id="previewHelp" class="form-text">
        A short preview of the post (not shown on the post itself)
      </span>
    </div>
  </div>

  <div class="row mb-3 g-3 align-items-center">
    <div class="col-sm-2">
      <%= form.label :body, class: 'col-form-label' %>
    </div>
    <div class="col-sm-5">
      <%= form.text_area :body, required: true, class: 'form-control', rows: 10, aria: { describedby: 'bodyHelp' } %>
    </div>
    <div class="col-sm-5">
      <span id="bodyHelp" class="form-text">
        The main content of the post.
      </span>
    </div>
  </div>

  <% if post.new_record? %>
    <div class="row mb-3 g-3 align-items-center">
      <div class="col-sm-2">
        <%= form.label :publish_immediately, class: 'col-form-label' %>
      </div>
      <div class="col-sm-5">
        <%= form.select :publish_immediately,
                        options_for_select({ 'Yes (publish now)' => 'true', 'No (leave as draft)' => 'false' }, 'true'),
                        {},
                        { class: 'form-select', aria: { describedby: 'publishedImmediatelyHelp' } } %>
      </div>
      <div class="col-sm-5">
        <span id="publishedImmediatelyHelp" class="form-text">
          Choose 'No' to leave as draft and publish manually later
        </span>
      </div>
    </div>

    <p>
      Note: The post will not be visible to subscribers until it is associated (manually)
      with one or more of their subscribed projects, plots or tiles.
    </p>
  <% else %>
    <div class="row mb-3 g-3 align-items-center">
      <div class="col-sm-2">
        <%= form.label :published_at, class: 'col-form-label' %>
      </div>
      <div class="col-sm-5">
        <%= form.datetime_field :published_at, class: 'form-control', aria: { describedby: 'publishedAtHelp' } %>
      </div>
      <div class="col-sm-5">
        <span id="publishedAtHelp" class="form-text">
          Post is viewable only after this date
          (or never visible if left blank)
        </span>
      </div>
    </div>
  <% end %>

  <%= form.submit 'Update Post', class: 'btn btn-primary' %>
  <% if post.persisted? %>
    or
    <%= link_to 'return to post details', admin_post_path(post), class: 'btn btn-secondary' %>
  <% end %>
<% end %>
