<% cols ||= %w[title preview body author created] %>

<% cols_remaining = cols.dup %>

<% if posts.none? %>
  <p>No posts found</p>
<% else %>
  <table class="table">
    <thead>
      <tr>
        <% if cols_remaining.delete('title') %>
          <th>Title</th>
        <% end %>
        <% if cols_remaining.delete('preview') %>
          <th>Preview</th>
        <% end %>
        <% if cols_remaining.delete('body') %>
          <th>Body</th>
        <% end %>
        <% if cols_remaining.delete('author') %>
          <th>Author</th>
        <% end %>
        <% if cols_remaining.delete('created') %>
          <th>Created</th>
        <% end %>
        <% raise "Unhandled table col(s): #{cols_remaining.join(' and ')}" if cols_remaining.any? %>
      </tr>
    </thead>

    <tbody style="font-variant-numeric: tabular-nums;">
      <% posts.each do |post| %>
        <tr>
          <% if cols.include?('title') %>
            <td><%= link_to post.title, admin_post_path(post) %></td>
          <% end %>
          <% if cols.include?('preview') %>
            <td><%= truncate(post.preview || '-', length: 75) %></td>
          <% end %>
          <% if cols.include?('body') %>
            <td><%= truncate(post.body, length: 75) %></td>
          <% end %>
          <% if cols.include?('author') %>
            <td><%= post.author.display_name %></td>
          <% end %>
          <% if cols.include?('created') %>
            <td><%= post.created_at.to_formatted_s(:short) %></td>
          <% end %>
        </tr>
      <% end %>
    </tbody>
  </table>
<% end %>
