<h1><%= admin_title @post, suffix: '- Bulk Association' %></h1>

<% if @plot.nil? %>
  <p>First, pick a plot whose tiles we'll be bulk associating to this post...
  <%= form_with(url: bulk_association_edit_admin_post_path(@post), method: :get) do |form| %>
    <div class="col-sm-4 mb-3">
      <%= label_tag :plot, 'Plot', class: 'visually-hidden' %>
      <%= select_tag :plot, option_groups_from_collection_for_select(Project.order(:title), :plots, :title, :hashid, :title, params[:plot]),
                            { include_blank: '[ Select Plot ]', class: 'form-select' } %>
    </div>

    <%= form.submit 'Choose Plot', class: 'btn btn-primary' %>
  <% end %>
<% else %>
  <p>
    Bulk associating to tiles in plot:
    <%= link_to @plot.title, admin_plot_path(@plot) %>
  </p>
  <ul>
    <!--
    TODO:
    <li>
      Use the polygon icon on the map below to draw around a group of tiles,
      then click "Assign" or "Unassign" to toggle all enclosed tiles accordingly.
    </li>
    -->
    <li>
      Click an individual tile to toggle it between associated and unassociated.
    </li>
    <li>
      Click "Save Associations" to save changes.
    </li>
    <li>
      Remember, if the post is also associated with the whole plot or project,
      that will supercede individual tiles; subscribers of any tile in the plot or
      project will be able to see this post regardless of whether their particular
      tile is associated directly.
    </li>
  </ul>

  <%= render 'associated_tiles_map', tiles: @plot.tiles, associated_tiles: Tile.joins(:posts).where(posts: { id: @post.id }) %>
<% end %>
