<h1><%= admin_title(Post) %></h1>

<p>
  Posts provide subscribers with updates or news about their projects, plots or tiles.
</p>

<%= render 'filters' %>

<p>
  <%= link_to 'New Post', new_admin_post_path %>
  <%= page_entries_info @posts %>
  <% if filtered? %>
    matching selected filters.
  <% end %>
</p>

<%= render 'table', posts: @posts %>

<%= paginate @posts, theme: 'bootstrap-5' %>
