<h1><%= admin_title(Post) %></h1>

<p>
  Posts provide updates or news about a specific project, plot or tile.
</p>

<%= render 'filters' %>

<%= link_to 'New Post', new_admin_post_path %>
<%= page_entries_info @posts %>

<%= render 'table', posts: @posts %>

<%= paginate @posts, theme: 'bootstrap-5' %>
