<h1><%= admin_title @post %></h1>

<%= render 'details', post: @post %>

<p>
  <%= link_to 'Edit post', edit_admin_post_path(@post) %>
</p>

<h2 class="mt-3">
  Post Associations
</h2>

<%= render 'associations', post: @post %>

<h3>Add a new association</h3>
<%= render 'admin/post_associations/form', post_association: @post_association %>
