<div class="row">
  <% subscriptions.each do |subscription| %>
    <div class="col-sm-6 col-lg-4">
      <div class="card mb-4">
        <div class="card-header">
          <%= content_tag(:code, "///#{subscription.block.w3w}") %>
        </div>
        <div class="card-body">
          <% if subscription.block.plot&.project.present? %>
            <h6 class="card-subtitle mb-2 text-muted">
              Project:
              <%= subscription.block.plot.project.title %>
            </h6>
          <% end %>
          <% if subscription.block.plot.present? %>
            <h6 class="card-subtitle mb-2 text-muted">
              Plot: <%= subscription.block.plot.title %>
            </h6>
          <% end %>
          <p class="card-text">
            <small class="text-muted">
              Subscribed for
              <%= distance_of_time_in_words(subscription.created_at, Time.current) %>
              so far
            </small>
          </p>
          <%= link_to 'View Block', block_path(subscription.block), class: 'btn btn-primary stretched-link' %>
        </div>
        <div class="card-footer">
          £XX.XX / month
        </div>
      </div>
    </div>
  <% end %>
</div>
