<table class="table">
  <tbody>
    <tr>
      <th>Tile</th>
      <td>
        <% if @subscription.tile.present? %>
          <%= link_to @subscription.tile.hashid, tile_path(@subscription.tile) %>
          - <%= content_tag(:code, @subscription.tile.w3w) %>
        <% else %>
          NOT PRESENT
        <% end %>
      </td>
    </tr>
    <tr>
      <th>Project</th>
      <td>
        <% if @subscription.tile&.plot&.project.present? %>
          <%= link_to @subscription.tile.plot.project.title, project_path(@subscription.tile.plot.project) %>
        <% else %>
          NOT PRESENT
        <% end %>
      </td>
    </tr>
    <tr>
      <th>Plot</th>
      <td>
        <% if @subscription.tile&.plot.present? %>
          <%= link_to @subscription.tile.plot.title, plot_path(@subscription.tile.plot) %>
        <% else %>
          NOT PRESENT
        <% end %>
      </td>
    </tr>
    <tr>
      <th>Price</th>
      <td>
        <%= render_subscription_price(@subscription) || 'Not set' %>
      </td>
    </tr>
    <tr>
      <th>Status</th>
      <td>
        <%= render_subscription_status(@subscription) || 'NOT SET' %>
      </td>
    </tr>
    <tr>
      <th>Created</th>
      <td>
        <%= @subscription.created_at.strftime('%e %b %Y %H:%M:%S') %>
      </td>
    </tr>
  </tbody>
</table>
