<% project_pas = post.post_associations.where(postable_type: 'Project') %>
<% plot_pas = post.post_associations.where(postable_type: 'Plot') %>
<% block_pas = post.post_associations.where(postable_type: 'Block') %>
<% linked_blocks = block_pas.map(&:postable) %>
<h2 class="mt-3">
  Associated Places
</h2>
<% if [project_pas, plot_pas, block_pas].all?(&:empty?) %>
  <p>This post isn't linked to any places yet.</p>
<% end %>
<% if project_pas.any? %>
  <% project_pas.each do |pa| %>
    <%= render 'projects/card', project: pa.postable %>
  <% end %>
<% end %>

<% mentioned_blocks = post.mentioned_blocks %>
<% if mentioned_blocks.any? || linked_blocks.any? %>
  <p>
    <% if mentioned_blocks.any? && (linked_blocks - mentioned_blocks).any? %>
      This post mentions
      <%= pluralize(mentioned_blocks.size, 'block') %>
      and is associated with
      <%= pluralize((linked_blocks - mentioned_blocks).size, 'additional block') %>,
      shown on the map below.
    <% elsif mentioned_blocks.any? %>
      This post mentions
      <%= pluralize(mentioned_blocks.size, 'block') %>,
      shown on the map below.
    <% elsif linked_blocks.any? %>
      This post is associated with
      <%= pluralize(linked_blocks.size, 'block') %>,
      shown on the map below.
    <% end %>
  </p>
  <%= render 'static_pages/w3w_map',
    blocks: block_pas.map(&:postable) + mentioned_blocks,
    plot: post.post_associations.where(postable_type: 'Plot').first.postable,
    popup_blocks: mentioned_blocks,
    featured_description: 'Mentioned' %>
<% end %>
