<% visible_comments = post.comments.where(public: true).or(post.comments.where(author: current_user)) %>
<% if visible_comments.each do |comment| %>
  <p>
    <b>
      <%= comment.author == current_user ? 'You' : comment.author.first_name %>
      <%= comment.public? ? '(publically)' : '(privately)' %>
      on
      <%= comment.created_at.strftime('%d %b %Y') %>:
    </b>
    <br>
    <%= comment.text %>
  </p>
<% end.empty? %>
  <% if user_signed_in? %>
    <p>
      None yet; be the first to leave a comment!
    </p>
  <% else %>
    <p>
      None yet;
      <%= link_to 'log in', new_user_session_path %>
      or
      <%= link_to 'sign up', new_user_registration_path %>
      to leave a comment.
    </p>
  <% end %>
<% end %>
