<% show_preview ||= false %>
<% viewed_post_ids = current_user&.post_views&.distinct(:post_id)&.pluck(:post_id) || [] %>

<% if posts.none? %>
  <p>
    There are no related posts to show.
  </p>
<% else %>
  <div class="list-group">
    <%# https://stackoverflow.com/a/35539062/1323144 %>
    <% posts.sort_by { |x| [x.published_at.nil? ? 0 : 1, x.published_at] }.reverse_each do |post| %>
      <a href="<%= post_path(post) %>" class="list-group-item list-group-item-action">
        <div class="d-flex w-100 justify-content-between">
          <h5 class="mb-0">
            <% if user_signed_in? && viewed_post_ids.exclude?(post.id) %>
              <%= content_tag(:span, 'UNREAD', class: 'badge bg-info') %>
            <% end %>
            <%= post.title %>
          </h5>
          <small class="text-muted">
            <%= distance_of_time_in_words(post.published_at || post.created_at, Time.current) %> ago
          </small>
        </div>
        <% if show_preview && post.preview.present? %>
          <p class="mb-1">
            <%= markdown(post.preview) %>
          </p>
        <% end %>
      </a>
    <% end %>
  </div>
<% end %>
