<h1><%= title @post.title %></h1>

<%= render 'header', post: @post %>

<div class="row">
  <div class="col-md-8">
    <% if user_signed_in? %>
      <% if @viewable %>
        <%= markdown(linkify_tiles(@post.body)) %>
      <% else %>
        <%= render 'unviewable_authed', post: @post %>
      <% end %>
    <% else %>
      <%= render 'unviewable_unauthed' %>
      <% if @post.associated_projects.size == 1 %>
        <%= markdown(@post.associated_projects.first.subscriber_benefits) %>
      <% end %>
    <% end %>
  </div>
  <div class="col-md-4">
    <h2 class="mt-3">
      Comments
    </h2>
    <%= render 'comments_list', post: @post %>
    <%= render 'comment_form', comment: @post.comments.new %>
    <%= render 'associations', post: @post %>
  </div>
</div>

