<h1><%= title @post.title %></h1>

<%= render 'header', post: @post %>

<div class="row">
  <div class="col-md-8">
    <% if user_signed_in? %>
      <% if @viewable %>
        <%= markdown(linkify_tiles(@post.body)) %>
      <% else %>
        <%= render 'unviewable_authed', post: @post %>
        <%= markdown(@post.preview) %>
      <% end %>
    <% else %>
      <%= markdown(@post.preview) %>
      <%= render 'unviewable_unauthed' %>
      <% if @post.associated_projects.size == 1 %>
        <%= markdown(@post.associated_projects.first.subscriber_benefits) %>
      <% end %>
    <% end %>
  </div>
  <div class="col-md-4">
    <%= render 'associated_tiles_map', post: @post %>
    <% if @viewable %>
      <h2 class="mt-3">
        Comments
      </h2>
      <%= render 'comments_list', post: @post %>
      <%= render 'comment_form', comment: @post.comments.new %>
    <% else %>
      <p>
        <% if user_signed_in? %>
          Once you subscribe
        <% else %>
          Once you register and subscribe
        <% end %>
        to a related tile, you'll be able to read and engage with the full post here.
      </p>
    <% end %>
    <%= render 'associations', post: @post %>
  </div>
</div>

