<h1><%= title @post.title %></h1>

<%= render 'header', post: @post %>

<div class="row">
  <div class="col-md-8">
    <% if user_signed_in? %>
      <% if current_user.admin? || @post.viewable_by?(current_user) %>
        <%= markdown(linkify_tiles(@post.body)) %>
      <% else %>
        <%= bootstrap_alert 'You need to subscribe to a related tile before you can view this post!' %>
      <% end %>
    <% else %>
      <%= bootstrap_alert safe_join([
        'Please',
        link_to('log in', new_user_session_path, class: 'alert-link'),
        'or',
        link_to('register', new_user_registration_path, class: 'alert-link'),
        'before trying to view this post'
      ], ' ') %>
    <% end %>
  </div>
  <div class="col-md-4">
    <%= render 'associations', post: @post %>
  </div>
</div>

