<%= form_with(model: [:admin, plot], local: true) do |form| %>
  <%= render 'layouts/form_errors', errors: plot.errors %>

  <div class="row mb-3 g-3 align-items-center">
    <div class="col-sm-2">
      <%= form.label :title, class: 'col-form-label' %>
    </div>
    <div class="col-sm-3">
      <%= form.text_field :title, required: true, class: 'form-control', aria: { describedby: 'titleHelp' } %>
    </div>
    <div class="col-sm-7">
      <span id="titleHelp" class="form-text">
        Provide a meaningful name for the area.
      </span>
    </div>
  </div>

  <div class="row mb-3 g-3 align-items-center">
    <div class="col-sm-2">
      <%= form.label :description, class: 'col-form-label' %>
    </div>
    <div class="col-sm-3">
      <%= form.text_area :description, class: 'form-control', aria: { describedby: 'descriptionHelp' } %>
    </div>
    <div class="col-sm-7">
      <span id="descriptionHelp" class="form-text">
        Provide a longer description for the area.
      </span>
    </div>
  </div>

  <div class="row mb-3 g-3 align-items-center">
    <div class="col-sm-2">
      <%= form.label :hero_image_url, 'Hero Image URL', class: 'col-form-label' %>
    </div>
    <div class="col-sm-3">
      <%= form.text_field :hero_image_url, class: 'form-control', aria: { describedby: 'heroImageHelp' } %>
    </div>
    <div class="col-sm-7">
      <span id="heroImageHelp" class="form-text">
        URL of an image to be used as the main/header image of the plot
      </span>
    </div>
  </div>

  <div class="row mb-3 g-3 align-items-center">
    <div class="col-sm-2">
      <%= form.label :project_id, class: 'col-form-label' %>
    </div>
    <div class="col-sm-3">
      <%= form.collection_select :project_id, Project.order(:title), :id, :title, { include_blank: '[ No Project ]' }, { class: 'form-control', aria: { describedby: 'projectIdHelp' } } %>
    </div>
    <div class="col-sm-7">
      <span id="projectIdHelp" class="form-text">
        Associate the plot to a project.
      </span>
    </div>
  </div>

  <div class="row mb-3 g-3 align-items-center">
    <div class="col-sm-2">
      <%= form.label :polygon, class: 'col-form-label' %>
    </div>
    <div class="col-sm-3">
      <%= form.text_field :polygon, class: 'form-control', aria: { describedby: 'polygonHelp' } %>
    </div>
    <div class="col-sm-7">
      <span id="polygonHelp" class="form-text">
        Use the polygon icon on the map below to set this.
      </span>
    </div>
  </div>

  <div class="row mb-3 g-3 align-items-center">
    <div class="col-sm-2">
      <label class="col-form-label">Approx Area</label>
    </div>
    <div class="col-sm-3">
      <%= text_field_tag 'approx_area', nil, { readonly: true, class: 'form-control' } %>
    </div>
    <div class="col-sm-7">
      <span id="polygonHelp" class="form-text">
        Will be confirmed once polygon is created.
      </span>
    </div>
  </div>

  <% if plot.new_record? %>
    <p>
      Once created, the underlying 3x3m 'tiles' will be created automatically.
    </p>
  <% end %>

  <%= form.submit class: 'btn btn-primary' %>
<% end %>
