<% project ||= nil %>

<% if plots.none? %>
  <p>
    No plots found
  </p>
<% else %>
  <table class="table">
    <thead>
      <tr>
        <th>Title</th>
        <th>Project</th>
        <th>Created</th>
        <th>Polygon</th>
        <th>Tiles</th>
        <th>Area</th>
      </tr>
    </thead>

    <tbody style="font-variant-numeric: tabular-nums;">
      <% plots.each do |plot| %>
        <tr>
          <td><%= link_to plot.title, admin_plot_path(plot) %></td>
          <td>
            <% if plot.project.present? %>
              <%= link_to plot.project.title, admin_project_path(plot.project) %>
            <% else %>
              None
            <% end %>
          </td>
          <td><%= plot.created_at.to_formatted_s(:short) %></td>
          <td><%= pluralize(plot.polygon.coordinates[0].length, 'point') %></td>
          <td><%= plot.tiles.count %></td>
          <td>~ <%= plot.area_formatted_unsquared %><sup>2</sup></td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% end %>
<% if project.present? %>
<p>
  <%= link_to 'Create New Plot for the Project', new_admin_plot_path(project_id: project.hashid) %>
</p>
<% end %>
