<h1><%= admin_title(Plot) %></h1>

<p>
  Plots are collections of tiles covering an area.
</p>

<%= render 'filters' %>

<p>
  <%= link_to 'New Plot', new_admin_plot_path %>
  <%= page_entries_info @plots %>
  <% if @project.present? %>
    from the <%= link_to @project.title, admin_project_path(@project) %> project
  <% end %>
  <% if filtered?(:project) %>
    matching selected filters.
  <% end %>
</p>

<%= render 'table', plots: @plots %>

<%= paginate @plots, theme: 'bootstrap-5' %>
