<h1><%= admin_title(Plot) %></h1>

<p>
  Plots are collections of
  <%= link_to 'tiles', admin_tiles_path %>
  covering a larger area.

  When you <%= link_to 'create a plot', new_admin_plot_path %> of land,
  the underlying 3x3m 'tiles' are imported automatically from
  <%= link_to 'What3Words', 'https://what3words.com/' %>.
</p>

<%= link_to 'New Plot', new_admin_plot_path %>

<%= page_entries_info @plots %>

<%= render 'table', plots: @plots %>

<%= paginate @plots, theme: 'bootstrap-5' %>
