<h1><%= admin_title @plot %></h1>

<table class="table">
  <tbody>
    <tr>
      <th>Title</th>
      <td><%= @plot.title %></td>
    </tr>
    <tr>
      <th>Description</th>
      <td><%= markdown(@plot.description) || 'NOT SET' %></td>
    </tr>
    <tr>
      <th>Hero Image</th>
      <td>
        <%= image_tag @plot.hero_image_url_fallback, height: '150px' %>
      </td>
    </tr>
    <tr>
      <th>Project</th>
      <td>
        <% if @plot.project.present? %>
          <%= link_to @plot.project.title, admin_project_path(@plot.project) %>
        <% else %>
          None; plot is not associated with a project
        <% end %>
      </td>
    </tr>
    <tr>
      <th>Polygon</th>
      <td><%= @plot.coordinates_display %></td>
    </tr>
    <tr>
      <th>Area</th>
      <td>
        ~ <%= @plot.area_formatted_unsquared %><sup>2</sup>
        or
        <%= @plot.area_formatted_acres %>
      </td>
    </tr>
    <!--
    <tr>
      <th>Overlaps</th>
      <td>
        <%# @plot.overlapping_polygons.each do |other_plot| %>
          <%#= link_to other_plot.title, admin_plot_path(other_plot) %>
        <%# end %>
      </td>
    </tr>
    -->
    <tr>
      <th>Tiles</th>
      <td>
        <%= @plot.tiles.available.size %>
        available out of
        <%= @plot.tiles.size %>
        <% if @plot.tiles.size.positive? %>
          - <%= link_to 'view on map', admin_tiles_path(plot: @plot) %>
        <% end %>
        <% case @plot.tile_population_status %>
        <% when 'pending' %>
          <br>
          <br>
          <%= bootstrap_alert 'Tile population is pending and should begin soon. Please wait a few minutes and refresh the page.' %>
        <% when 'in_progress' %>
          <br>
          <br>
          <%= bootstrap_alert 'Tile population is in progress. Please wait a few minutes and refresh the page.' %>
        <% when 'succeeded' %>
          <!-- tile population succeeded -->
        <% when 'errored' %>
          <br>
          <br>
          <%= bootstrap_alert 'Tile population has failed; it is likely at least some tiles are missing from the plot.' %>
        <% else %>
          <% raise "Unexpected tile_population_status: #{@plot.tile_population_status}" %>
        <% end %>
      </td>
    </tr>
    <tr>
      <th>Subscribed Users</th>
      <td>
        view a
        <%= link_to 'list of users', admin_users_path(subscribed_to_plot: [@plot.hashid]) %>
        with an active subscription to any tile in this plot.
      </td>
    </tr>
    <tr>
      <th>Created</th>
      <td>
        <%= @plot.created_at.strftime('%e %b %Y %H:%M:%S') %>
      </td>
    </tr>
  </tbody>
</table>

<p>
  <%= link_to 'Edit plot', edit_admin_plot_path(@plot) %>
</p>

<%= render 'admin/plots/map', plot: @plot %>

<p>
  <%= render 'layouts/copy_to_clipboard', copytext: "<iframe width=\"100%\" height=\"500px\" src=\"#{embed_plot_url(@plot)}\"></iframe>", copycta: 'Copy Embed Code', cta_width: '200px' %>
</p>

<h2 class="mt-3">
  Posts about this Plot
  <% if @plot.project.present? %>(and corresponding Project)<% end %>
</h2>
<%= render 'admin/posts/table', posts: [@plot, @plot.project].compact.map(&:posts).flatten %>
