<table class="table">
  <thead>
    <tr>
      <th>User ID</th>
      <th>Full Name</th>
      <th>Email</th>
      <th>Stripe Customer ID</th>
      <th>Team</th>
      <th>Created</th>
    </tr>
  </thead>

  <tbody>
    <% users.each do |user| %>
      <tr>
        <td><%= link_to user.hashid, admin_user_path(user) %></td>
        <td><%= user.full_name %></td>
        <td><%= user.email %></td>
        <td>
          <% if user.stripe_customer_id.present? %>
            <%= link_to user.stripe_customer_id,
                        "#{ENV.fetch('STRIPE_DASHBOARD_URL')}/customers/#{user.stripe_customer_id}" %>
          <% else %>
            -
          <% end %>
        </td>
        <td>
          <% if user.team_id.present? %>
            <%= link_to user.team.title, admin_team_path(user.team) %>
          <% else %>
            -
          <% end %>
        </td>
        <td><%= user.created_at.strftime('%e %b %Y %H:%M:%S') %></td>
      </tr>
    <% end %>
  </tbody>
</table>
