<h1><%= admin_title User %></h1>

<p>
  Users can register for an account even without subscribing to a tile.
</p>

<%= render 'filters' %>

<p>
  <%= page_entries_info @users %>
  <% if filtered? %>
    matching selected filters
  <% end %>
  -
  <%= link_to 'download csv', admin_users_path(format: :csv, params: request.query_parameters) %>
</p>

<%= render 'table', users: @users %>

<%= paginate @users, theme: 'bootstrap-5' %>
