<h1><%= admin_title User %></h1>

<%= render 'filters' %>

<p>
  <%= page_entries_info @users %>
  <% if filtered? %>
    matching selected filters.
  <% end %>
</p>

<%= render 'table', users: @users %>

<%= paginate @users, theme: 'bootstrap-5' %>
