<h1><%= admin_title @user %></h1>

<p>
  <strong>Email:</strong>
  <%= @user.email %>
</p>

<p>
  <strong>Registered:</strong>
  <%= @user.created_at.strftime('%e %b %Y %H:%M:%S') %>
</p>

<p>
  <strong>Admin:</strong>
  <%= @user.admin? ? 'YES' : 'NO' %>
</p>

<p>
  <strong>Posts Authored:</strong>
  <%= @user.posts_authored.size %>
</p>

<% if @user.posts_authored.size.positive? %>
  <h3>Posts Authored</h3>
  <%= render 'admin/posts/table', posts: @user.posts_authored %>
<% end %>
