<h1><%= admin_title Subscription %></h1>

<p>
  Subscriptions grant users access to the corresponding tile (once claimed).
</p>

<%= render 'filters' %>

<%= page_entries_info @subscriptions %>
<% if filtered? %>
  matching selected filters.
<% end %>

<%= render 'table', subscriptions: @subscriptions %>

<%= paginate @subscriptions, theme: 'bootstrap-5' %>

<p>
  Users can subscribe to a new (unclaimed) tile from the tile's details page.
</p>
