<h1><%= admin_title @subscription %></h1>

<table class="table">
  <tbody>
    <tr>
      <th>User</th>
      <td>
        <%= link_to @subscription.user.hashid, admin_user_path(@subscription.user) %>
        - <%= @subscription.user.display_name %>
        <%= " (that's you!)" if @subscription.user == current_user %>
      </td>
    </tr>
    <tr>
      <th>Block</th>
      <td>
        <%= link_to @subscription.block.hashid, admin_block_path(@subscription.block) %>
        - <%= content_tag(:code, @subscription.block.w3w) %>
      </td>
    </tr>
    <tr>
      <th>Plot</th>
      <td>
        <% if @subscription.block.plot.present? %>
          <%= link_to @subscription.block.plot.title, admin_plot_path(@subscription.block.plot) %>
        <% else %>
          NOT PRESENT
        <% end %>
      </td>
    </tr>
    <tr>
      <th>Project</th>
      <td>
        <% if @subscription.block.plot&.project.present? %>
          <%= link_to @subscription.block.plot.project.title, admin_project_path(@subscription.block.plot.project) %>
        <% else %>
          NOT PRESENT
        <% end %>
      </td>
    </tr>
    <tr>
      <th>Stripe ID</th>
      <td>
        <%= link_to @subscription.stripe_id,
                    "#{ENV.fetch('STRIPE_DASHBOARD_URL')}/subscriptions/#{@subscription.stripe_id}" %>
      </td>
    </tr>
    <tr>
      <th>Created</th>
      <td>
        <%= @subscription.created_at.strftime('%e %b %Y %H:%M:%S') %>
      </td>
    </tr>
  </tbody>
</table>

<div>
  <%= link_to "Edit this subscription", edit_admin_subscription_path(@subscription) %>
</div>
