<h1><%= admin_title @subscription %></h1>

<table class="table">
  <tbody>
    <tr>
      <th>User</th>
      <td>
        <% if @subscription.user.present? %>
          <%= link_to @subscription.user.full_name, admin_user_path(@subscription.user) %>
          <%= " (that's you!)" if @subscription.user == current_user %>
        <% else %>
          No user; purchase not yet claimed.
          <% if @subscription.claim_hash.nil? %>
            There is no claim hash for this subscription so it can't be claimed directly.
          <% else %>
            User must visit this link:
            <br>
            <%= content_tag(:code, claim_subscription_url(@subscription, hash: @subscription.claim_hash)) %>
          <% end %>
        <% end %>
      </td>
    </tr>
    <tr>
      <th>Tile</th>
      <td>
        <% if @subscription.tile.present? %>
          <%= link_to @subscription.tile.hashid, admin_tile_path(@subscription.tile) %>
          - <%= content_tag(:code, @subscription.tile.w3w) %>
        <% else %>
          No tile; subscription not yet assigned
        <% end %>
      </td>
    </tr>
    <tr>
      <th>Plot</th>
      <td>
        <% if @subscription.tile&.plot.present? %>
          <%= link_to @subscription.tile.plot.title, admin_plot_path(@subscription.tile.plot) %>
        <% else %>
          NOT PRESENT
        <% end %>
      </td>
    </tr>
    <tr>
      <th>Project</th>
      <td>
        <% if @subscription.tile&.plot&.project.present? %>
          <%= link_to @subscription.tile.plot.project.title, admin_project_path(@subscription.tile.plot.project) %>
        <% else %>
          NOT PRESENT
        <% end %>
      </td>
    </tr>
    <tr>
      <th>Stripe ID</th>
      <td>
        <%= link_to @subscription.stripe_id,
                    "#{ENV.fetch('STRIPE_DASHBOARD_URL')}/subscriptions/#{@subscription.stripe_id}" %>
      </td>
    </tr>
    <tr>
      <th>Status</th>
      <td>
        <%= render_subscription_status(@subscription) || 'NOT SET' %>
        -
        <%= link_to 'refresh', refresh_admin_subscription_path(@subscription) %>
      </td>
    </tr>
    <tr>
      <th>Price</th>
      <td>
        <%= render_subscription_price(@subscription) || 'NOT SET' %>
      </td>
    </tr>
    <tr>
      <th>Created</th>
      <td>
        <%= @subscription.created_at.strftime('%e %b %Y %H:%M:%S') %>
      </td>
    </tr>
  </tbody>
</table>

<div>
  <%= link_to "Edit this subscription", edit_admin_subscription_path(@subscription) %>
</div>
