<h1><%= admin_title @subscription %></h1>

<table class="table">
  <tbody>
    <tr>
      <th>User</th>
      <td>
        <%= link_to @subscription.user.hashid, admin_user_path(@subscription.user) %>
        - <%= @subscription.user.display_name %>
        <%= " (that's you!)" if @subscription.user == current_user %>
      </td>
    </tr>
    <tr>
      <th>Tile</th>
      <td>
        <%= link_to @subscription.tile.hashid, admin_tile_path(@subscription.tile) %>
        - <%= content_tag(:code, @subscription.tile.w3w) %>
      </td>
    </tr>
    <tr>
      <th>Plot</th>
      <td>
        <% if @subscription.tile.plot.present? %>
          <%= link_to @subscription.tile.plot.title, admin_plot_path(@subscription.tile.plot) %>
        <% else %>
          NOT PRESENT
        <% end %>
      </td>
    </tr>
    <tr>
      <th>Project</th>
      <td>
        <% if @subscription.tile.plot&.project.present? %>
          <%= link_to @subscription.tile.plot.project.title, admin_project_path(@subscription.tile.plot.project) %>
        <% else %>
          NOT PRESENT
        <% end %>
      </td>
    </tr>
    <tr>
      <th>Stripe ID</th>
      <td>
        <%= link_to @subscription.stripe_id,
                    "#{ENV.fetch('STRIPE_DASHBOARD_URL')}/subscriptions/#{@subscription.stripe_id}" %>
      </td>
    </tr>
    <tr>
      <th>Status</th>
      <td>
        <%= @subscription.stripe_status || 'NOT SET' %>
      </td>
    </tr>
    <tr>
      <th>Created</th>
      <td>
        <%= @subscription.created_at.strftime('%e %b %Y %H:%M:%S') %>
      </td>
    </tr>
  </tbody>
</table>

<div>
  <%= link_to "Edit this subscription", edit_admin_subscription_path(@subscription) %>
</div>
