<%= form_with(model: [:admin, team], local: true) do |form| %>
  <%= render 'layouts/form_errors', errors: team.errors %>

  <div class="row mb-3 g-3 align-items-center">
    <div class="col-sm-2">
      <%= form.label :title, class: 'col-form-label' %>
    </div>
    <div class="col-sm-5">
      <%= form.text_field :title,
                          required: true,
                          placeholder: 'My Team',
                          class: 'form-control',
                          aria: { describedby: 'titleHelp' } %>
    </div>
    <div class="col-sm-5">
      <span id="titleHelp" class="form-text">
        Provide a meaningful name for the team.
      </span>
    </div>
  </div>

  <div class="row mb-3 g-3 align-items-center">
    <div class="col-sm-2">
      <%= form.label :description, class: 'col-form-label' %>
    </div>
    <div class="col-sm-5">
      <%= form.text_area :description,
                         placeholder: 'A team for my example company.',
                         class: 'form-control',
                         aria: { describedby: 'descriptionHelp' } %>
    </div>
    <div class="col-sm-5">
      <span id="descriptionHelp" class="form-text">
        Provide a longer description for the team.
      </span>
    </div>
  </div>

  <% if form.object.persisted? || form.object.errors.key?(:slug) %>
    <div class="row mb-3 g-3 align-items-center">
      <div class="col-sm-2">
        <%= form.label :slug, 'Link Slug', class: 'col-form-label' %>
      </div>
      <div class="col-sm-5">
        <div class="input-group">
          <span class="input-group-text" id="slugPrefix">
            <%= root_url %>teams/
          </span>
          <%= form.text_field :slug,
                              placeholder: 'my-company-team',
                              class: 'form-control',
                              aria: { describedby: 'slugHelp slugPrefix' } %>
        </div>
      </div>
      <div class="col-sm-5">
        <span id="slugHelp" class="form-text">
          Set the team's page (lowercase, without spaces or special chars).
        </span>
      </div>
    </div>
  <% end %>

  <div class="row mb-3 g-3 align-items-center">
    <div class="col-sm-2">
      <%= form.label :website, 'Website URL', class: 'col-form-label' %>
    </div>
    <div class="col-sm-5">
      <%= form.text_field :website,
                          class: 'form-control',
                          placeholder: 'https://www.example.com',
                          aria: { describedby: 'websiteHelp' } %>
    </div>
    <div class="col-sm-5">
      <span id="websiteHelp" class="form-text">
        URL of the team's external website (optional).
      </span>
    </div>
  </div>

  <div class="row mb-3 g-3 align-items-center">
    <div class="col-sm-2">
      <%= form.label :logo_url, 'Logo URL', class: 'col-form-label' %>
    </div>
    <div class="col-sm-5">
      <%= form.text_field :logo_url,
                          class: 'form-control',
                          placeholder: 'https://www.example.com/logo.png',
                          aria: { describedby: 'logoImageHelp' } %>
    </div>
    <div class="col-sm-5">
      <span id="logoImageHelp" class="form-text">
        URL of a small image / icon for the team (optional).
      </span>
    </div>
  </div>

  <%= form.submit class: 'btn btn-primary' %>
<% end %>
