<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="/">
      <% if ENV.fetch('SITE_LOGO_URL', false) %>
        <%= image_tag ENV.fetch('SITE_LOGO_URL'),
                      alt: "#{ENV.fetch('SITE_TITLE', 'LandGrab')} logo",
                      width: 24,
                      height: 24,
                      class: 'd-inline-block align-text-top' %>
      <% end %>
      <%= ENV.fetch('SITE_TITLE', 'LandGrab') %>
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <% [
          ['Explore', explore_path],
          ['Projects', projects_path],
          ['Subscriptions', subscriptions_path],
          ['About', about_path]
        ].each do |text, href| %>
          <li class="nav-item">
            <%= active_navlink text, href %>
          </li>
        <% end %>
      </ul>
      <ul class="navbar-nav mb-2 mb-lg-0">
        <% if user_signed_in? %>
          <% if current_user&.admin? %>
            <li class="nav-item">
              <%= active_navlink '🕵 ADMIN', admin_dashboard_path %>
            </li>
          <% end %>
          <li class="nav-item">
            <%= active_navlink 'Settings', edit_profile_path %>
          </li>
          <li class="nav-item">
            <%= active_navlink 'Log Out', destroy_user_session_path %>
          </li>
        <% else %>
          <li class="nav-item">
            <%= active_navlink 'Log In', new_user_session_path %>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</nav>
