<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <% if ENV.fetch('SITE_FAVICON_URL', false) %>
      <%= favicon_link_tag ENV.fetch('SITE_FAVICON_URL') %>
    <% end %>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
          rel="stylesheet"
          integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN"
          crossorigin="anonymous">

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
            crossorigin="anonymous"></script>

    <% if ENV.key?('CSS_THEME_URL') %>
      <%= stylesheet_link_tag ENV.fetch('CSS_THEME_URL') %>
    <% end %>

    <title><%= if content_for?(:title) then yield(:title) + ' | ' end %><%= ENV.fetch('SITE_TITLE', 'LandGrab') %></title>
    <%= render 'layouts/analytics' %>
  </head>

  <body>
    <%= render 'layouts/navbar' %>

    <%= render 'layouts/messages' %>

    <div class="container-xl mt-3 mb-5">
      <% if controller.class.name.start_with?('Admin') %>
        <%= render 'admin/admin_navbar' %>
      <% end %>
      <%= yield %>
    </div>
  </body>
</html>
